<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">    
    <title>Asteroids</title>
</head>
<body>
    <div id="top">
        <a class="no-decoration" href="/"><h1>Asteroids</h1></a>
    </div>    
    <div class="container" id="error-container">
        <h2>Error</h2>
        <p><%= errorMessage %></p>
        <a href="/" class="btn btn-primary">Go to Main Page</a>
    </div>
    <!-- Add Bootstrap JS and its dependencies -->
    <script src="/public/jquery/dist/jquery.min.js"></script>
    <script src="/public/popper/dist/umd/popper.min.js"></script>
    <script src="/public/bootstrap/dist/js/bootstrap.min.js"></script>  
    <script src="/public/js/support.js"></script>  
</body>
</html>
